* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #EEEFF1;

}

body, html {
    height: 100%;
}

.general-padding {
    box-sizing: border-box;
    /*padding: 2% 5% 2% 5%;*/
    padding: 5rem 14rem;
}

.navigation-menu {
    width: 100%;
    height: 30%;

}

.navigation-menu-items {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    padding-right: 40%;

}

.general-header-h1 {
    font-style: normal;
    font-size: 48px;
    font-family: Roboto;
    font-weight: bold;
}

.general-header-h2 {
    font-style: normal;
    font-size: 32px;
    font-family: Roboto;
    font-weight: bolder;
    text-align: center;
    margin: 2%;
}

.text-style-grey {
    font-family: Roboto;
    font-size: 16px;
    color: #727272;
    margin: 1% 1% 1% 0;
}
.text-style-white{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 21px;

}
.icon-margin{
    margin-right: 15%;
    margin-left: 10%;
}
.text-style-white-16{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;

}
.text-style-white-13{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 13px;

}

.button-write-me {
    font-family: Roboto;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    background-color: #34547A;
    padding: 2% 5%;

}

.background-white {
    background-color: #F9F9F9;
}

.background-navy {
    background-color: #34547A;

}

.flex {
    display: flex;
}

.advantages {
    justify-content: space-between;
}
.test-justify-center {
    justify-content: center;
}
.li-justify{
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
}
.ul{
    flex-direction: row;
}
.video{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 5%;
}